@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    border-radius: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar-logo a {
    color: lightcoral;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin-right: 40px;

}

.navbar-links li {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
  
    
}

.navbar-links a {
    color: lightskyblue;
    text-decoration: none;
    font-size: 16px;
    
}

.navbar-links a:hover {
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    color: lightgrey;
    border-radius: 5px;
    background-color: lightslategrey;
}
.Hero{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url('./images/photo-1436491865332-7a61a109cc05.avif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.Hero-content {
    width: 300px;
    height: 300px;
    text-align: center;
    transition: 0.5s;
}
.Hero h1{
    font-size: 36px;
    font-weight: 10px;
    transition: 0.5s;
}
.Hero h1:hover{
    color: lightpink;
    transform: scale(1.05);
}
.Hero p{
    color: black;
    font-size: 20px;
    font-weight: 10px;
}
.Hero p:hover{
    color: lightpink;
    transform: scale(1.05);
}
.hero-button{
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px; 
    font-size: 15px;
    font-weight: 700;
    color: white;
    transition: 0.5s;
}
.hero-button:hover{
    background-color: rgba(91, 157, 219,  0.747);
    transform: scale(1.05);
}
.hidden {
    display: none;
}

.flights {
    display: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url('./images/photo-1436491865332-7a61a109cc05.avif');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 30px;
    text-align: center;
}

.flights h1 {
    font-size: 2.5em;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    color: lightcoral;
}

.flights-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.flights-container-grid {
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 250px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.flights-container-grid:hover {
    transform: scale(1.03);
}

.flights-img img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.flights-container-grid h3 {
    font-size: 1.5em;
    margin: 15px 0;
    color: black;
}

.flights-container-grid p {
    font-size: 1em;
    color: #555;
}
.flights-container-grid button{
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px; 
}
.About-us{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url('./images/photo-1436491865332-7a61a109cc05.avif');
    background-size: cover;
    background-repeat: no-repeat; 
    padding: 10px; 
    margin-top: 0 auto;
    
}
.About-us h1{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    padding-bottom: 40px;
    color: lightcoral;
    
}
.About-content{
    display: flex;
    flex-direction: row;
}
.About-left{
    width: 50%;
    display: flex;
    align-items: center;
}
.About-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 1px;
    transition: 0.5s;
    
}
.About-left img{
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.About-right p{
    font-size: 1em;
    text-align: justify;
    margin-top: 10px;
 
}

.About-right p:hover{
    color: lightcoral;
    transform: scale(1.05);
}
.About-right h2:hover{
    color: lightpink;
    transform: scale(1.05);
}
.button{
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px; 
    font-size: 18px;
    margin-left: 80%;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    background-color: rgba(91, 157, 219,  0.747);
    transform: scale(1.05);
}
.booking-section{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url('./images/photo-1436491865332-7a61a109cc05.avif');
    background-size: cover;
    background-repeat: no-repeat; 
    text-align: center;
    padding: 10px;
}
.booking-section h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: lightcoral;
}
.booking-form{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url('./images/photo-1436491865332-7a61a109cc05.avif');
    background-size: cover;
    background-repeat: no-repeat; 
   max-width: 600px; 
   margin: 0 auto;
   padding: 20px;
   background-color: white;
   border-radius: 8px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}
.booking-input{
    display: block;
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    
}
.booking-input::placeholder {
    color: black;
    opacity: 1;
}
.booking-label{
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    color: white;
}
.time-input{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    
}
.time-input, .booking-input{
    width: 90%;
}
.time-period {
    margin-bottom: 22px; 
    width: 50px;
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
}
.booking-button{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: black;
    cursor: pointer;
    font-size: 18px;
}
.booking-button:hover{
   background-color: rgba(91, 157, 219,  0.747);
}
.booking-input option{
    background-color: lightcyan;
}
.button-container{
    padding: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url('./images/photo-1436491865332-7a61a109cc05.avif');
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-us {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url('./images/photo-1436491865332-7a61a109cc05.avif');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 0 auto;
}

.contact-us {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url('./images/photo-1436491865332-7a61a109cc05.avif');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 0 auto;
}

.contact-us h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: lightcoral;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .contactInfo .box {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center; /* Align items vertically center */
    margin-bottom: 20px; /* Space between boxes */
}

.container .contactInfo .box .icon {
    min-width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Circular icon background */
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    justify-content: center;
}

.container .contactInfo .box .text a {
    color: inherit;
    text-decoration: none;
}

.container .contactInfo .box .text a:hover {
    text-decoration: underline;
    color: #3498db;
}

.text h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #00bcd4;
}

.text p {
    margin: 0;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.contactForm h3 {
    font-size: 30px;
    color: lightcoral;
    font-weight: 700;
    text-align: center;
}

.inputbox {
    margin-bottom: 15px;
    position: relative;
}

.inputbox input, .inputbox textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid darkslategray;
    border-radius: 8px;
    box-sizing: border-box; /* Correct box sizing */
    outline: none;
    resize: none;
    transition: transform 0.2s ease-in-out;
}

.inputbox input::placeholder, .inputbox textarea::placeholder {
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.inputbox input:focus, .inputbox textarea:focus {
    border-color: #666;
    transform: scale(1.05);
}

.inputbox input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 30%;
    margin-left: 35%; /* Center the submit button */
    transition: background-color 0.3s;
}

.inputbox input[type="submit"]:hover {
    background-color: rgba(91, 157, 219, 0.747);
    transform: scale(1.03);
}
.footer {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.1)), url('./images/photo-1436491865332-7a61a109cc05.avif');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
    height: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer-section-links, .footer-section-contact {
    margin-bottom: 20px;
}

.footer-section-links h3, .footer-section-contact h3 {
    margin-bottom: 20px;
    padding: 30px;
    color: lightcoral;

}

.footer-section-links ul, .footer-section-contact ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 70px;
    list-style: none;
}

.footer-section-links ul li, .footer-section-contact ul li {
    margin-bottom: 10px;
    border: 2px solid lightblue;
    border: none;

}
.footer-section-links ul li:hover{
    background-color: lightslategrey;
    border-radius: 8px;
}

.footer-section-links ul li a {
    color: lightblue;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.footer-section-links ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width 0.4s ease;
    -webkit-transition: width 0.4s ease;
}

.footer-section-links ul li a:hover::after {
    width: 100%;
    left: 0;
    background: #ffcc00;
}

.footer-bottom {
    padding: 10px 0;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
}






